.principal_card_1 {
	position: absolute;
	margin-left: calc((100% - 1440px) / 2);
	margin-right: 5%;
	margin-top: 6%;
	height: 320px;
	width: 720px;
	background-color: #FFFFFF;
	overflow-y:hidden;
	border-width: 3px; /* Ajusta este valor al grosor deseado */
    border-style: solid;
    border-color: #000000; /* Ajusta el color según sea necesario */
}

.principal_card_2 {
	position: absolute;
	margin-left: calc((100% - 1440px) / 2 + 740px);
	margin-right: 5%;
	margin-top: 6%;
	height: 320px;
	width: 720px;
	background-color:#FFFFFF;
	border-width: 3px; /* Ajusta este valor al grosor deseado */
    border-style: solid;
    border-color: #000000; /* Ajusta el color según sea necesario */
}

.principal_card_3 {
	position: absolute;
	margin-left: calc((100% - 1440px) / 2);
	margin-right: 5%;
	margin-top: 425px;
	height: 320px;
	width: 720px;
	background-color:#FFFFFF;
	border-width: 3px; /* Ajusta este valor al grosor deseado */
    border-style: solid;
    border-color: #000000; /* Ajusta el color según sea necesario */
}

.principal_card_4 {
	position: absolute;
	margin-left: calc((100% - 1440px) / 2 + 740px);
	margin-right: 5%;
	margin-top: 425px;
	height: 320px;
	width: 720px;
	background-color: #FFFFFF;
	border-width: 3px; /* Ajusta este valor al grosor deseado */
    border-style: solid;
    border-color: #000000;/* Ajusta el color según sea necesario */
}

.mace_torno {
	position: absolute;
	margin-top: 0px;
    font-size: 30px;
    font-family: Arimo; 
    text-decoration: none;
    margin-left: 250px;
    
    color: #000000;
}

.mace_torno_div {
	position: absolute;
	margin-top: 0px;
	background: #9AC4EE;
	width: 715px;
	height: 15%;
	border-bottom: 1px solid black;
    
}

._recomendacion {
	position: absolute;
	margin-top: 60px;
    font-size: 20px;
    font-family: Arimo; 
    text-decoration: none;
    margin-left: 270px;
    color: #000000;
    background-color: #D6D6D6; /* Fondo celeste */
    border-radius: 15px; /* Esquinas curvas */
    border: 2px solid #000000;
    padding: 10px 10px;
}

._simulacion {
	position: absolute;
	margin-top: 150px;
    font-size: 20px;
    font-family: Arimo; 
    text-decoration: none;
    margin-left: 270px;
    color: #000000;
    background-color: #D6D6D6; /* Fondo celeste */
    border-radius: 15px; /* Esquinas curvas */
    border: 2px solid #000000;
    padding: 10px 28px;
}


._refuerzo {
	position: absolute;
	margin-top: 240px;
    font-size: 20px;
    font-family: Arimo; 
    text-decoration: none;
    margin-left: 270px;
    color: #000000;
    background-color: #D6D6D6; /* Fondo celeste */
    border-radius: 15px; /* Esquinas curvas */
    border: 2px solid #000000;
    padding: 10px 37px;
}

.secado {
	margin-top: 0px;
    font-size: 30px;
    font-family: Arimo; 
    text-decoration: none;
    margin-left: 300px;
    
    color: #000000;
}

.secado_div {
	position: absolute;
	margin-top: 0px;
	background: #9AC4EE;
	width: 715px;
	height: 15%;
	border-bottom: 1px solid black;
    
}




.encolado {
	margin-top: 0px;
    font-size: 30px;
    font-family: Arimo; 
    text-decoration: none;
    margin-left: 300px;
    
    color: #000000;
}

.encolado_div {
	position: absolute;
	margin-top: 0px;
	background: #9AC4EE;
	width: 715px;
	height: 15%;
	border-bottom: 1px solid black;
    
}

.prensa{
	margin-top: 0px;
    font-size: 30px;
    font-family: Arimo; 
    text-decoration: none;
    margin-left: 260px;
    
    color: #000000;
}

.prensa_div {
	position: absolute;
	margin-top: 0px;
	background: #9AC4EE;
	width: 715px;
	height: 15%;
	border-bottom: 1px solid black;
    
}


.SIDEBAR_STYLE {
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1px 1px;
    background: #091D4B;
    list-style-type: none;
    display: flex;
}

.SIDEBAR_EMERG {
	position: absolute;
	top: 0;
	left: 0;
	bottom : 0;
	width : 15%;
	padding : 15px 10px;
	background: #254D32
}

.icon-link {
    position: absolute;
    margin-left: 15px;
    margin-top: 20px;
}

.icon-link img {
	position: absolute;
    width: 30px;  /* Ajusta el tamaño de la imagen según sea necesario */
    height:30px;
    background-repeat:no-repeat;
	background-position: left;
}

.link-container {
	position: absolute;
    margin-left: 0px; /* Ajusta el margen superior según sea necesario */
    margin-top: 0px; /* Ajusta el margen superior según sea necesario */
    border-width: 1px; /* Ajusta este valor al grosor deseado */
    border-style: solid;
    border-color: black; /* Ajusta el color según sea necesario */
    width: 1536px;
    height: 5%;
    background-color: #9AC4EE;

}


.link {
	position: absolute;
    font-size: 1px;
    font-family: Scene; 
    color: #C0C6C3;
    margin-top:2px ;
    padding: 2px 5px;
    background-color: #9AC4EE; /* Fondo celeste */
    border-radius: 15px; /* Esquinas curvas */
    border: 2px solid #000000;
     
}

.link2 {
	position: absolute;
    font-size: 1px;
    margin-left: 100px;
    font-family: Scene; 
    margin-top:2px;
    padding: 2px 5px;
    background-color: #FFFFFF; /* Fondo celeste */
    border-radius: 15px; /* Esquinas curvas */
    border: 2px solid #000000;
}




.recomendacion_card_1 {
	position: absolute;
	margin-left: 2%;
	margin-top: 3%;
	height: 250px;
	width: 300px;
	margin-right: 1%;
	background-color: #FFFFFF;
	overflow-y:hidden;
	border: none;
}

.recomendacion_card_2 {
	position: absolute;
	margin-left: 400px;
	margin-right: 5%;
	margin-top: 3%;
	height: 200px;
	width: 380px;
	background-color: #FFFFFF;
	border-width: 1px; /* Ajusta este valor al grosor deseado */
    border-style: solid;
    border-color: black; /* Ajusta el color según sea necesario */
}

.recomendacion_card_3 {
	position: absolute;
	margin-left: calc((100% - 1440px) / 2 + 740px);
	margin-right: 5%;
	margin-top: 3%;
	height: 200px;
	width: 380px;
	background-color: #FFFFFF;
	border-width: 1px; /* Ajusta este valor al grosor deseado */
    border-style: solid;
    border-color: black; /* Ajusta el color según sea necesario */
}

.recomendacion_card_4 {
	position: absolute;
	margin-left: calc((100% - 1440px) / 2 + 1130px);
	margin-right: 5%;
	margin-top: 3%;
	height: 200px;
	width: 350px;
	background-color: #FFFFFF;
	border-width: 1px; /* Ajusta este valor al grosor deseado */
    border-style: solid;
    border-color: black; /* Ajusta el color según sea necesario */
}

.vertical-line {
    position: absolute;
    left: 23%;
    top: 6%;
    width: 3px; /* Ajusta el grosor de la línea según sea necesario */
    height: 75vh; /* 50% de la altura de la ventana */
    background-color: black;
}

.horizontal-line {
    position: absolute;
    left: 1%;  /* Margen izquierdo del 5% */
    right: 1%; /* Margen derecho del 5% */
    top: 39%; /* Ajusta esta propiedad según sea necesario para la posición vertical */
    height: 2px; /* Ajusta el grosor de la línea según sea necesario */
    background-color: black;
}

.recomendacion_card_5{
	position: absolute;
	margin-left: 0.5%;
	margin-right: 0px;
	margin-top: 350px;
	height: 350px;
	width: 330px;
	background-color: #FFFFFF;
	border-width: 1px; /* Ajusta este valor al grosor deseado */
    border-style: solid;
    border-color: black; /* Ajusta el color según sea necesario */
}

.recomendacion_card_6{
	position: absolute;
	margin-left: 365px;
	margin-right: 0px;
	margin-top: 260px;
	height: 450px;
	width: 1165px;
	background-color: #FFFFFF;
	border: none;
	
}



.nombre_proyecto{
	position: absolute;
	margin-left:630px;
	margin-top: 780px;
	color: #000000;
	font-size: 15px;
	font-family: Arimo 
}

.numero_proyecto{
	position: absolute;
	margin-left:630px;
	margin-top: 800px;
	color: #000000;
	font-size: 15px;
	font-family: Arimo 
}

.codigo_proyecto{
	position: absolute;
	margin-left:1300px;
	margin-top: 800px;
	color: #000000;
	font-size: 13px;
	font-family: Arimo 
}

.Logo_UBB{
	position: absolute;
	left: 5%;
	background-image:url("/assets/UBB full.png");
	background-size: 130px 85px;
	background-repeat:no-repeat;
	background-position: left;
	margin-top: 750px;
	height: 100px;
	width: 330px;
}

.Logo_Arauco{
	position: absolute;
	left: 17%;
	background-image:url("/assets/Arauco.png");
	background-size: 130px 20px;
	background-repeat:no-repeat;
	background-position: left;
	margin-top: 750px;
	height: 100px;
	width: 330px;
}

.Logo_ANID{
	position: absolute;
	left: 30%;
	background-image:url("/assets/ANID.png");
	background-size: 70px 65px;
	background-repeat:no-repeat;
	background-position: left;
	margin-top: 750px;
	height: 100px;
	width: 330px;
}

.custom-datepicker .DateInput {
    border: none; /* Elimina el borde */
    background-color: transparent; /* Elimina el fondo */
}

.custom-datepicker .DateInput_input {
    color: #333; /* Color del texto */
    font-size: 17px;
    border: none; /* Elimina el borde del input */
    box-shadow: none; /* Elimina el sombreado */
    padding: 5px; /* Ajusta el padding si es necesario */
}

.custom-datepicker .DateInput_input__focused {
    border: none; /* Elimina el borde cuando está enfocado */
    box-shadow: none; /* Elimina el sombreado cuando está enfocado */
}

.custom-datepicker .SingleDatePicker_picker {
    z-index: 999; /* Asegura que el calendario se muestre encima de otros elementos */
}

.custom-datepicker .CalendarDay__default {
    border: 1px solid #ddd;
    background: #fff;
    color: #333;
}

.custom-datepicker .CalendarDay__hover {
    background: #e6e6e6;
    border: 1px solid #b3b3b3;
    color: #333;
}

.custom-datepicker{
	position: absolute;
    margin-left:33px;
    margin-top:80px;
}


.custom-datepicker_2 .DateInput {
    border: none; /* Elimina el borde */
    background-color: transparent; /* Elimina el fondo */
}

.custom-datepicker_2 .DateInput_input {
    color: #333; /* Color del texto */
    font-size: 17px;
    border: none; /* Elimina el borde del input */
    box-shadow: none; /* Elimina el sombreado */
    padding: 5px; /* Ajusta el padding si es necesario */
}

.custom-datepicker_2 .DateInput_input__focused {
    border: none; /* Elimina el borde cuando está enfocado */
    box-shadow: none; /* Elimina el sombreado cuando está enfocado */
}

.custom-datepicker_2 .SingleDatePicker_picker {
    z-index: 999; /* Asegura que el calendario se muestre encima de otros elementos */
}

.custom-datepicker_2 .CalendarDay__default {
    border: 1px solid #ddd;
    background: #fff;
    color: #333;
}

.custom-datepicker_2 .CalendarDay__hover {
    background: #e6e6e6;
    border: 1px solid #b3b3b3;
    color: #333;
}

.custom-datepicker_2{

	position:absolute;
    margin-left:30px;
    margin-top:0px;
    width: 10px;
}

.custom-range-slider .rc-slider {
    width: 18%; /* Cambia el tamaño del deslizador */
    margin-left:-10px;
    margin-top:150px;
    width: 270px;
}

/* Estilo para las marcas del RangeSlider */
.custom-range-slider .rc-slider-mark-text {
    font-size: 12px; /* Cambia el tamaño del texto de las marcas */
    color: color: #000000; /* Cambia el color del texto de las marcas */
}

/* Estilo para los manejadores del RangeSlider */
.custom-range-slider .rc-slider-handle {
    border-color: #000000; /* Cambia el color del borde del manejador */
    height: 15px; /* Cambia la altura del manejador */
    width: 15px; /* Cambia el ancho del manejador */
    margin-top: -4px; /* Ajusta la posición vertical del manejador */
    background-color: #897F74; /* Cambia el color de fondo del manejador */
}

/* Estilo para la pista del RangeSlider */
.custom-range-slider .rc-slider-track {
    background-color: #BDB0A2; /* Cambia el color de la pista */
    height: 6px; /* Cambia la altura de la pista */
}

/* Estilo para la pista restante del RangeSlider */
.custom-range-slider .rc-slider-rail {
    background-color: #ddd; /* Cambia el color de la pista restante */
    height: 6px; /* Cambia la altura de la pista restante */
}

.nombre_fecha{
	position: absolute;
	margin-left:120px;
	margin-top: 0px;
	color: #000000;
	font-size: 20px;
	font-family: Arimo 
}

.nombre_hora{
	position: absolute;
	margin-left:125px;
	margin-top: 110px;
	color: #000000;
	font-size: 20px;
	font-family: Arimo 
}

.nombre_chapa{
	position: absolute;
	margin-left:100px;
	margin-top: 0px;
	color: #000000;
	font-size: 30px;
	font-family: Arimo 
}

.Aprobado_chapa{
	position: absolute;
	margin-left:45px;
	margin-top: 105px;
	font-size: 18px;
	font-family: Scene;
	color: #FFFFFF
}

.objetivo_chapa{
	position: absolute;
	margin-left:65px;
	margin-top: 85px;
	color: #000000;
	font-size: 16px;
	font-family: Arimo 
}

.Revisar_chapa{
	position: absolute;
	margin-left:250px;
	margin-top: 105px;
	color: #FFFFFF;
	font-size: 13px;
	font-family: Arimo;
	height: 32px; 
}

.nombre_tablero{
	position: absolute;
	margin-left:100px;
	margin-top: 0px;
	color: #000000;
	font-size: 30px;
	font-family: Arimo 
}

.Rechazo_tablero{
	position: absolute;
	margin-left:45px;
	margin-top: 105px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: Scene 
}

.objetivo_tablero{
	position: absolute;
	margin-left:65px;
	margin-top: 85px;
	color: #000000;
	font-size: 16px;
	font-family: Arimo 
}

.Revisar_tablero{
	position: absolute;
	margin-left:250px;
	margin-top: 105px;
	color: #FFFFFF;
	font-size: 13px;
	font-family: Arimo;
	height: 32px; 
}

.nombre_meta{
	position: absolute;
	margin-left:140px;
	margin-top: 0px;
	color: #000000;
	font-size: 30px;
	font-family: Arimo 
}

.Aprobado_meta{
	position: absolute;
	margin-left:45px;
	margin-top: 105px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: Scene 
}

.objetivo_meta{
	position: absolute;
	margin-left:65px;
	margin-top: 85px;
	color: #000000;
	font-size: 16px;
	font-family: Arimo 
}

.Revisar_meta{
	position: absolute;
	margin-left:250px;
	margin-top: 105px;
	color: #FFFFFF;
	font-size: 13px;
	font-family: Arimo;
	height: 32px; 
}

.grafico_cantidad_kpi{
	position: absolute;
	margin-left:10px;
	margin-top:20px;
	color: #000000;
}

.revisa_variables{
	position: absolute;
	margin-left:45%;
	margin-top: 0px;
	color:#000000;
	font-size: 30px;
	font-family: Arimo 
}

.custom-dropdown{
	position: absolute;
	margin-top: 50px;
	margin-left: 40px;
}

.custom-dropdown .dropdown-menu {
	position: absolute;
    background-color: #f3e9d2; /* Color de fondo */
    color: #000000; /* Color del texto */
    font-size: 14px; /* Tamaño del texto */
    width: 300px; /* Ancho del dropdown */
    border: 1px solid #dfd1a7; /* Color del borde */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Sombra */
}

.custom-dropdown .dropdown-item {
    padding: 10px; /* Espaciado interno de los items */
}

.custom-dropdown .dropdown-item:hover {
    background-color: #dfd1a7; /* Color de fondo al pasar el mouse */
    color: #000000; /* Color del texto al pasar el mouse */
}

.custom-dropdown .dropdown-toggle {
    background-color: #948F8F; /* Color de fondo del botón del dropdown */
    color: #FFFFFF; /* Color del texto del botón del dropdown */
    border-color: #000000; /* Color del borde del botón del dropdown */

}

.custom-dropdown2{
	position: absolute;
	margin-top: 50px;
	margin-left: 140px;
}

.custom-dropdown2 .dropdown-menu {
	position: absolute;
    background-color: #f3e9d2; /* Color de fondo */
    color: #000000; /* Color del texto */
    font-size: 14px; /* Tamaño del texto */
    width: 300px; /* Ancho del dropdown */
    border: 1px solid #dfd1a7; /* Color del borde */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Sombra */
}

.custom-dropdown2 .dropdown-item {
    padding: 10px; /* Espaciado interno de los items */
}

.custom-dropdown2 .dropdown-item:hover {
    background-color: #dfd1a7; /* Color de fondo al pasar el mouse */
    color: #000000; /* Color del texto al pasar el mouse */
}

.custom-dropdown2 .dropdown-toggle {
    background-color: #948F8F; /* Color de fondo del botón del dropdown */
    color: #FFFFFF; /* Color del texto del botón del dropdown */
    border-color: #000000; /* Color del borde del botón del dropdown */

}

.Revisar_panel{
	position: absolute;
	margin-left:1000px;
	margin-top: 400px;
	color:#000000;
	font-size: 20px;
	font-family: Arimo 
}



.TABS{
	font-family: Arimo;
	color: #254D32;
	font-size: 13px;
}

.CONTENT_STYLE {
	margin-left: 566px;
	margin-right: 0px;
	margin-top: 15px;
	background-image:url("/assets/fondo_general.png");
	background-size: 800px 300px;
	background-repeat: no-repeat;
	background-position: center;
	height: 347px;
	width: 952px;
	background-color: #091D4B;
	--positionX: 0;
	--positionY: 0;
}


.INDICADOR_CONTENT_0_1 {
	position: absolute;
	margin-left: 15px;
	margin-right: 0%;
	margin-top: 40px;
	height: 3px;
	width: 5px;
	background-color: #29304C;
}

.TITULO_PROCESO {
	text-align: center;
	font-family : "Open Sans", sans-serif;
	color: #F49D37;
	font-size: 20px;
}

.TITULO_BARRA {
	position: relative;
	left: 1%;
	margin: 0;
	text-align: center;
	font-family : "Open Sans", sans-serif;
	color: #E4E95A;
	font-size: 20px;
	
	width: 25%;
	top: 8px;
}



.CAJAS {
	display: flex;
	margin-top: 0;
	font-family: Arimo ;
	text-align: center;
	font-size: 10px;
	margin-left: 0px;
	color: #000000;
}

.INDICADOR_1 {
	position: absolute;
	margin-left: 15px;
	margin-right: 0%;
	margin-top: -347px;
	height: 347px;
	width: 537px;
	background-color: #091D4B;
}

.INDICADOR_1_1 {
	text-align: left;
	position: absolute;
	margin-left: 120px;
	margin-right: 0%;
	margin-top: 5px;
}

.INDICADOR_1_2 {
	text-align: left;
	position: absolute;
	margin-left: 10px;
	margin-right: 0%;
	margin-top: 20px;
	width: 200px;
	font-size: 13px;
	color: #254D32;
}

.INDICADOR_2 {
	position: absolute;
	margin-left: 15px;
	margin-right: 2px;
	margin-top: 15px;
	height: 285px;
	width:1504px;
	background-color: #091D4B;
}


.INDICADOR_2_1 {
	text-align: left;
	position: absolute;
	margin-left: 2%;
	margin-right: 5%;
	margin-top: 50px
}

.INDICADOR_2_2 {
	text-align: left;
	position: absolute;
	margin-left: 270px;
	margin-right: 0%;
	margin-top: 20px

}

.INDICADOR_2_3 {
	text-align: left;
	position: absolute;
	margin-left: 270px;
	margin-right: 0%;
	margin-top: 170px;
}

.ALERT_INDICADOR_2_2 {
	text-align: left;
	position: absolute;
	margin-left: 390px;
	margin-right: 0%;
	margin-top: 40px
}

.ALERT_INDICADOR_2_3 {
	text-align: left;
	position: absolute;
	margin-left: 390px;
	margin-right: 0%;
	margin-top: 190px
}




.SIDEBAR_MACERADO {
	position: absolute;
	top: 0;
	left: 0;
	bottom : 0;
	width : 15%;
	padding : 15px 10px;
	background: '#D3B417';
}

.INDICADOR_MACERADO_1 {
	position: absolute;
	margin-left: 1%;
	margin-right: 5%;
	margin-top: 10px;
	height: 250px;
	width: 740px;
	background-color: #F3E9D2;
}

.INDICADOR_MACERADO_2 {
	position: absolute;
	margin-left: 770px;
	margin-right: 5%;
	margin-top: 10px;
	height: 250px;
	width: 480px;
	background-color: #F3E9D2;
}

.INDICADOR_MACERADO_3 {
	position: absolute;
	margin-left: 1%;
	margin-right: 5%;
	margin-top: 280px;
	height: 270px;
	width: 1235px;
	background-color: #F3E9D2;
}


.SIDEBAR_DEBOBINADO {
	position: absolute;
	top: 0;
	left: 0;
	bottom : 0;
	width : 15%;
	padding : 15px 10px;
	background: #ECA586;
}

.INDICADOR_DEBOBINADO_1 {
	position: absolute;
	margin-left: 1%;
	margin-right: 5%;
	margin-top: 10px;
	height: 250px;
	width: 840px;
	background-color: #F3E9D2;
	overflow-x: auto;
	overflow-y:hidden;
}

.INDICADOR_DEBOBINADO_2 {
	position: absolute;
	margin-left: 870px;
	margin-right: 5%;
	margin-top: 10px;
	height: 250px;
	width: 380px;
	background-color: #F3E9D2;
}

.INDICADOR_DEBOBINADO_3 {
	position: absolute;
	margin-left: 1%;
	margin-right: 5%;
	margin-top: 280px;
	height: 270px;
	width: 1235px;
	background-color: #F3E9D2;
}

.SIDEBAR_SECADO {
	position: absolute;
	top: 0;
	left: 0;
	bottom : 0;
	width : 15%;
	padding : 15px 10px;
	background: #3F427A;
}
.INDICADOR_SECADO_1 {
	position: absolute;
	margin-left: 1%;
	margin-right: 5%;
	margin-top: 10px;
	height: 250px;
	width: 840px;
	background-color: #F3E9D2;
	overflow-x: auto;
	overflow-y:hidden;
}
.INDICADOR_SECADO_2 {
	position: absolute;
	margin-left: 870px;
	margin-right: 5%;
	margin-top: 10px;
	height: 250px;
	width: 380px;
	background-color: #F3E9D2;
}

.INDICADOR_SECADO_3 {
	position: absolute;
	margin-left: 1%;
	margin-right: 5%;
	margin-top: 280px;
	height: 270px;
	width: 1235px;
	background-color: #F3E9D2;
}

.SIDEBAR_ENCOLADO {
	position: absolute;
	top: 0;
	left: 0;
	bottom : 0;
	width : 15%;
	padding : 15px 10px;
	background: #273627;
}

}

circle.track {
stroke-width: 15px;
r:5;
stroke-dasharray: 1108;
stroke: rgb(94, 92, 92)!important;
background-image: radial-gradient(red, green, blue);
}



